*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(red, yellow);
    background: url(images/table.png);
    background-size: 30% 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
}

body{
    background:linear-gradient( rgb(188, 183, 183),grey,rgb(59, 58, 58)) ;
}


nav{
    width: 100%;
    height: 70px;
    padding: 0px 50px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 2px 0px 5px grey; */
}

/* nav .logoimg{
   
    height: 40vh;
    width: 30%;
    padding: 0px 70px;
    justify-content: flex-start;
    background: url(images/lt.png);
} */

#logoimg{
    height: 50px;
    margin-right: 400px;
}

.order a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
.order a:last-child{
    background: black;
    color: white;
    border-radius: 8px;
}

.text{
    position: absolute;
    top:30%;
    left: 5%;
    padding: 15px;

}

.text h1{
    font-size: 2.5em;
    line-height: 1.5em;
}
.text h1 span{
        color: brown;
}
.text h2{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.book{
    text-decoration: none;
    color: white;
    background: brown;
    border-radius: 8px;
    padding: 10px 20px;
}

.welcome{
    width: 90%;
    height: 70vh;
    /* background-image: linear-gradient(rgba(rgb(74, 71, 71)), grey, white); */
    background: url(images/welcome.png);
    background-size: 30% 50%;
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    top:0%;
    left:40%;
}

/* .text #img{
    position: absolute;
    top:70%;
    left: 8%;
    padding: 15px;
    height: 2vw;
    width: 10%;

} */

/* .container{
    position: absolute;
    top:70%;
    left:60%;
    display: flex;
    height: 20%;
    width: 100%;
}

.tab{
    justify-items: flex-end;
} */

/* .logo{
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 2px;
} */